<!DOCTYPE html>
<html>

	<head>
		<meta charset="utf-8">
		<title>register</title>
	</head>

	<body>
		<form action="/users/register" method="post">
			<label for="">loginname:</label>
			<input type="text" name="loginname" />
			<br />
			<label for="">email:</label>
			<input type="text" name="email" />
			<br />
			<label for="">password:</label>
			<input type="password" name="pwd" />
			<br />
			<label for="">repassword:</label>
			<input type="password" name="rePwd" />
			<br />
			<input type="submit" value="提交" />
		</form>
	</body>

</html>